/**
 * Custom styles to immediately follow Tailwind’s `components` layer
 *
 * “Add more opinionated, complex classes like buttons, form controls, alerts,
 * etc; the sort of pre-built components you often see in other frameworks that
 * you might need to override with utility classes.”
 *
 * — from https://tailwindcss.com/docs/plugins#adding-components
 */

 .custom-logo {
	@apply max-w-12 mr-2 rounded-md;
 }

/**
 * Post title styles
 *
 * These will be applied to all headings with a `page-title` or `entry-title`
 * class on the frontend and to the post title in the block editor.
 *
 * The supplied styles are meant to match the default `h1` classes from
 * Tailwind Typography.
 */
.page-title,
.entry-title {
	@apply max-w-content mx-auto mb-6 text-3xl font-extrabold text-neutral-900;
}

/**
 * Layout styles for centered content areas
 *
 * If you are controlling the width of your content area with styles applied
 * to its container, you can delete the following styles whose selectors begin
 * with `.page-content >` and `.entry-content >`. For more details, please see
 * the following:
 *
 * https://make.wordpress.org/core/2021/06/29/on-layout-and-content-width-in-wordpress-5-8/
 */

.entry-meta {
	@apply max-w-content mx-auto pb-4 flex gap-2;
}

.sr-only {
	@apply ml-4;
}

.entry-content {
	p {
		@apply leading-relaxed;
	}
}

.entry-footer {
	@apply max-w-content mx-auto py-4 flex gap-2 justify-between;
}

/**
* Menu
*/
.menu {
	@apply flex gap-4;
}

.menu-main-menu-container {
	@apply flex justify-center;
}

.footer-menu {
	@apply flex gap-4 text-center;
}

/**
* Nav Links
*/
.nav-links {
	@apply max-w-content mx-auto flex flex-row gap-2 py-4 justify-center;
}

.nav-previous {
	@apply text-left;
}

.nav-next {
	@apply text-right;
}


/**
* Comments
*/
#comments {
	@apply max-w-content mx-auto py-4 mb-24 text-left border-t-2 border-gray-300;

	ol {
		@apply pl-8 py-2;
	}

	article.comment-body {
		@apply bg-gray-50 p-4 rounded shadow-md mb-2;

		.comment-content {
			@apply my-4;
		}

		.comment-author {
			@apply flex items-center;

			img.avatar {
				@apply rounded-full mr-2;
			}

			span.says {
				@apply hidden;
			}
		}

		.comment-metadata {
			@apply flex justify-between;
		}
	}
}

.comment-respond {
	@apply mt-4;

	.comment-reply-title {
		@apply text-lg font-semibold mb-4;
	}

	.logged-in-as {
		@apply mb-4;
	}

	.comment-form {
		@apply max-w-lg;
	
		.comment-notes {
			@apply my-2;
		}
	
		textarea, input {
			@apply border-2 border-gray-300 p-2 my-2 !important;
			outline: none;
			transition: all 200ms ease;
	
			&:focus {
				@apply border-magenta;
			}
		}
	
		p:not(:first-child) {
			@apply flex flex-col;
		}
	
		input[type="submit"] {
			@apply bg-magenta cursor-pointer text-white;
		}
	
	}
}

/**
* Sidebar
*/
aside.widget-area {
	ul {
		li:not(:first-child) {
			@apply border-t-2 border-gray-200;
		}
	}
}

/**
* Widget
*/
.widget-area {

	.widget {
		@apply mb-6;
	}

	.wp-block-heading {
		@apply text-xl font-extrabold mb-3 after:block after:mt-2 after:w-12 after:h-1 after:bg-gray-300 !important;
	}

	textarea, input, select {
		@apply border-2 border-gray-300 p-2 !important;
		outline: none;
	}
	
	.wp-block-search {
		label {
			@apply hidden;
		}

		button[type="submit"] {
			@apply bg-magenta cursor-pointer;
		}
	}

	ul {
		li {
			@apply py-1;
		}
	}
	
}


/**
* Footer
*/
footer {
	.wp-block-latest-posts li a{
		@apply font-semibold;
	}
}